.container {
    position: relative;
}

.navbar {
    position: fixed;
    background-color: rgb(36, 154, 166) !important;
    padding: 10px;
    width: 100%; 
    z-index: 1000; 
}

header .nav {
    color:white;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
}

.carousel-item img {
    object-fit: calc;
    width: 60%;
    height: 60%;
}

#inicio,
#quienes-somos,
#destacado,
#contacto {
    min-height: 20rem;
}

#section {
    margin-top: 7rem;
}
.form {
    color: white;
}