.navbar {
    background-color: rgb(36, 154, 166) !important;
    padding: 0;
}
header .navbar a {
    color: white;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.carousel-item img {
    object-fit: cover; /* Ajusta según tus preferencias: 'cover' o 'contain' */
    width: 100%;
    height: 100%;
}

